.song {
  &__container {
    color: var(--font-primary);
    text-decoration: none;
    height: 200px;
    width: 200px;
  }

  &__picture {
    margin-top: -50%;
    position: relative;
    border-radius: 50%;
    width: 120px;
    height: 120px;
  }

  &__card {
    box-shadow: 0px 2px 3px var(--shadow);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100px;
    padding: 8px;
    overflow: visible;
    margin-top: auto;
    border-radius: 4px;
  }

  &__title {
    font-size: medium;
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 0;

    height: 20px;

    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
  }

  &__artist {
    font-size: small;
    width: auto;
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 8px;

    word-break: break-all;
    text-overflow: ellipsis;
  }
}
