.search_box {
  position: absolute;
  top: 0;
  right: 0;

  &__input {
    color: var(--font-primary);
    padding: 8px 8px 8px 12px;
    margin: 16px 8px 8px 16px;
    border: 1px solid var(--font-disabled);
    border-radius: 4px;
    & ::placeholder {
      font-size: small;
      color: var(--font-disabled);
    }
  }

  &__label {
    background-color: #3976a8;
    padding: 2px 8px;
    font-size: large;
    font-weight: 700;
    color: white;
    border-radius: 5px;
  }
}
